
    #header {
        background-color: #A5ACCE;
        font-family:"Georgia";
        margin:5px;
        border-radius:8px;
    }

    body {
        font: arial, helvetica, sans-serif;
        margin:0;
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #A0C0EF));

    }

    input {
        width:60px;
        text-align:right;
        border-radius:5px;
    }
    
    #invertImage {
        width:30px;
    }
    
    td {
        font-family:"Georgia";
    }
    
/*     canvas {
        background-color:#F7FADC;
    } */
    
    #mycanvas {
        /* border:2px solid#000; */
    }
    #debugcanvas {
       /*  border:2px solid#ff00ff; */
    }
    #pathcanvas {
        /* border:2px solid#000; */
    }
    #statusbar {
        background-color:#969CAD;
        clear:both;
        margin:5px;
        border-radius:5px;
    }
    
    #Inputs {
        margin: 5px;
        width: 15em;
        float: left;
        
    }
    
