
    #header {
        background-color: #EFD969;
        font-family:"Georgia";
        margin:5px;
        border-radius:8px;
    }

    body {
        font: arial, helvetica, sans-serif;
        margin:0;
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #EFE7A0));

    }

    .boxDim {
        width:50px;
        text-align:right;
        border-radius:5px;
    }
    
    td {
        font-family:"Georgia";
    }
    
    canvas {
        background-color:#F7FADC;
    }
    
    #mycanvas {
        border:2px solid#000;
    }
    #debugcanvas {
        border:2px solid#ff00ff;
    }
    #pathcanvas {
        border:2px solid#000;
    }
    #statusbar {
        background-color:#AB9A56;
        clear:both;
        margin:5px;
        border-radius:5px;
    }
    
    #Inputs {
        margin: 5px;
        width: 15em;
        float: left;
        
    }
    
