
    #header {
        background-color: #428bca;
        font-family:"Georgia";
        margin:5px;
        border-radius:8px;
        color:#fff;
    }

    body {
        font: arial, helvetica, sans-serif;
        margin:0;
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #A0C0EF));

    }

    button {
        background-color:#428bca;
        border-color:#357ebd;
        border-radius:6px;
        line-height:1.33;
        font-size: 18px;
        color:#fff;
/*         padding:10px 16px; */
        
    }
    

    
    #invertImage {
        width:30px;
    }
    
    td {
        font-family:"Georgia";
    }
    
/*     canvas {
        background-color:#F7FADC;
    } */
    
    #mycanvas {
        /* border:2px solid#000; */
        image-rendering: -moz-crisp-edges;          // FF 6.0+
        image-rendering: -webkit-optimize-contrast; // Webkit
                                                    //  (Safari now, Chrome soon)
        image-rendering: -o-crisp-edges;            // OS X & Windows Opera (12.02+)
        image-rendering: optimize-contrast;         // Possible future browsers.
        -ms-interpolation-mode: nearest-neighbor;   // IE
            
    }
    #debugcanvas {
       /*  border:2px solid#ff00ff; */
    }
    #pathcanvas {
        /* border:2px solid#000; */
    }
    #statusbar {
        background-color:#969CAD;
        clear:both;
        margin:5px;
        border-radius:5px;
    }
        
    input {
        width:60px;
        text-align:right;
        border-radius:15px;
    }
    
    #Inputs {
        margin: 5px;
        width: 15em;
        float: left; 
        
    }
    
